{% extends 'base.html.twig' %}

{% block main %}
    <br>
    {% for post in posts %}
        <div class="card mb-3">
            {% if post.image %}
                <img class="card-img-top" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ path('blog_post', {slug: post.slug}) }}">
                        {{ post.title }}
                    </a>
                </h4>
                <p class="card-text">{{ post.summary|md2html }}</p>
            </div>
            <div class="card-footer text-muted">
                <span class="badge badge-secondary">{{ post.publishedAt|date("Y/m/d") }}</span>
                {{ include('blog/_post_tags.html.twig') }}
            </div>
        </div>
        {#<div class="blog-post">#}
            {#<h2 class="blog-post-title">#}
                {#<a href="{{ path('blog_post', {slug: post.slug}) }}">#}
                    {#{{ post.title }}#}
                {#</a>#}
            {#</h2>#}
            {#<p class="blog-post-meta text-muted">#}
                {#{{ post.publishedAt|date("Y/m/d") }}#}
            {#</p>#}

            {##}


        {#</div>#}
        <br>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    {% if posts.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(posts, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated'}) }}
        </div>
    {% endif %}
{% endblock %}